# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
**/node_modules
**/dist
.pnp
.pnp.js

# testing
**/jest-coverage
**/reports

# production
**/build
**/autogen

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# subgraph
packages/subgraph/build/
packages/subgraph/subgraph.yaml
packages/subgraph/src/types/

# No npm allowed
package-lock.json
.yarn/
.yarnrc

# IDE
.idea
.vscode/


# next.js
.next/

# yarn
.yarn/*
!/yarn.lock
!.yarn/releases
!.yarn/plugins

# vim
*.sw[a-z]

# vercel
.vercel
